**/*.yaml
**/_tests
**/_catalog
**/_plots
**/_results
**/_chains
**/_likelihoods
**/_sbatch*
**/tests/_*/
**/*patch*
**/*test*
**/*bak*
**/y1_cosmo2.py
**/y1_cosmo3.py
**/y1_cosmo4.py
**/y1_cosmo5.py
**/y1_cosmo6.py
**/y1_abacus_2pt_rafaela.py
**/file_manager_rafaela.py
**/y1_abacus_2pt2.py
**/y1_abacus_2pt3.py
**/y1_abacus_fits2.py
**/y1_ez_2pt_pk.py
**/y1_ez_2pt_jk.py
**/y1_ez_2pt_recon.py
**/get_cov.py
**/_tests_corr2power
**/corr2power.py
**/y1_bao_cosmo_cmb.py
**/y1_bao_cosmo_best.py
**/y1_bao_cosmo_post.py
**/hist
**/compressed
**/check*
**/backup*
**/launch*
**/check*
**/tmp*
**/fix.py
**/*.png
**/*.svg
**/*.pdf
**/*.tex
**/*.txt
**/*.npy
**/*.sh
