**/dust
doc/_build/
**/__pycache__
**/pytest_cache
**/*.egg
**/*.egg-info
**/.astropy
**/.cache
**/.config
**/.wget*
**/dist
**/eggs
**/build
**/.ipynb_checkpoints
**/*.pyc
**/*.out
**/*.ipynb
**/patch*
**/test*
**/y1_cosmo2.py
**/y1_cosmo3.py
**/y1_cosmo4.py
**/y1_cosmo5.py
**/y1_cosmo6.py
**/y1_abacus_2pt2.py
**/y1_data_fits2.py
**/y1_abacus_fits2.py
**/y1_data_2pt2.py
**/y1_data_fits3.py
**/y1_fs_cosmo2.py
**/y1_fs_cosmo3.py
**/y1_fs_cosmo4.py
**/y1_ez_2pt_pk.py
**/y1_ez_2pt_jk.py
**/y1_ez_2pt_recon.py
**/get_cov.py
**/_tests_corr2power
**/corr2power.py
**/hist
**/compressed
**/check*
**/backup*
**/launch*
**/check*
**/tmp*
**/*.png
**/*.pdf
**/*.tex
#**/*.ipynb
**/*.zip
**/*.DS_Store
**/fix.py
# Unit test / coverage reports
**/.coverage
**/ric2.py
**/*.npy
**/*_sbatch*
